:root {
    --primary-color: darkblue;
    --secondary-color: lightblue;
    --tertiary-color: lightgrey;
}

/*Heading Styling Begins */

header {
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; 
}
header img {
    padding: auto, 10px;
    width: 200px;
    height: 200px;
}
header h1 {
    width: auto;
    text-align: center;
    font-weight:bold;
    font-size: 70px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

header nav {
    margin: 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    color: var(--secondary-color);
    padding: 10px 15px;
    font-size: large;
    text-decoration: underline;
}
/* Heading Styling Ends */

/* About Me Section Starts */
.intro {
    margin-top: 5%;
}
.section-title {
    font-size: 40px;
    text-align: center;
    color: var(--primary-color);
    text-decoration: underline;
    padding-bottom: 2%;
}
p {
    font-size: medium;
}
h3 {
    font-size: medium;
    width: 200px;
}

/*About Me Section Ends */

/*Work Section Starts */

.projects {
    margin:0;
    margin-top: 5%;
}

.projects div div a div {
    width: 12%;
    margin: 0;
}

.run-buddy {
    width: 90%;
    height: 300px;
    border: 2px solid var(--secondary-color);
    background-image: url("../images/run-buddy.jpg");
}

.batters-up {
    width: 35%;
    height:200px;
    border: 2px solid var(--secondary-color);
    background-image: url("../images/batterup.jpg") ;
}

.horiseon {
    width: 35%;
    height:200px;
    border: 2px solid var(--secondary-color);
    background-image: url("../images/horiseon.jpg");

}

.robot-gladiators { 
    width: 35%;
    height: 200px;
    border: 2px solid var(--secondary-color);
    background-image: url("../images/robot-gladiators.jpg");
}

#card {
    color: var(--tertiary-color);
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
}

.info{
    display: flex;
    justify-content: space-around;
    padding: 3%;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}
.info p {
    display: inline;
    height: auto;
    color: var(--primary-color);
    margin: 0;
}
.run-buddy:hover {
    opacity: .5;
}
.batters-up:hover {
    opacity: .5;
}
.horiseon:hover {
    opacity: .5;
}
.robot-gladiators:hover {
    opacity: .5;
}
/* Work Section Ends */

/*media responsive section */
 @media only screen and (max-width: 980px) {
    header img {
        width: 100px;
        height: 100px;
    }
    header h1 {
        font-size: 16px;
        width: auto;
        text-align: center;
        height: auto;
    }
    header nav ul li {
        width: auto;
    }
    header nav ul li a{
        font-size: 12px;
        padding: 0;
    }
    .section-title {
        font-size: 1.15em;
    }
    header nav {
        width: 100%;
        justify-content: space-evenly;
    }
    h3 {
        font-size: 10px;
    }
    p {
        font-size: 10px;
    }
    .info {
        font-size: 10px;
    }
  }
