* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary-color: darkblue;
    --secondary-color: lightblue;
    --tertiary-color: lightgrey;
}
.section-title {
    width: 10%;
    font-size: 40px;
}

/*Heading Styling Begins */

header {
    padding: 20px 35px 20px 0px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    
}

header h1 {
    font-weight:bold;
    font-size: xx-large;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
}

header nav {
    margin: 7px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    color: var(--secondary-color);
    padding: 10px 15px;
    font-size: large;
    text-decoration: underline;
}
/* Heading Styling Ends */

.section-title {
    width: 20%;
    font-size: 40px;
    text-align: right;
    border-right: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.intro {
    display: inline-flex;
    margin-bottom: 20px;
}
.intro p {
    margin-left: 10%;
    width: 70%;
}


.projects {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 20px;
    /* justify-content: space-evenly; */
}

.projects a:nth-child(2) {
    width: 64%;
    height: 200px;
    margin-left: 10%;
    margin-bottom: 2%;
    border: 2px solid var(--secondary-color);
    background-image: url("../images/run-buddy.jpg");
}

.projects a:nth-child(3) {
    width: 31%;
    height: 200px;
    background-image: url("../images/horiseon.jpg");
    border: 2px solid var(--secondary-color);

    margin-left: 30%;
}

.projects a:nth-child(4) {
    width :31%;
    height: 200px;
    margin-left: 2%;
    border: 2px solid var(--secondary-color);
    background-image: url("../images/robot-gladiators.jpg");
}

.projects a div {
    position: relative;
    width: 200px;
    height: 65px;
    background-color: var(--secondary-color);
}

